{% load static dynamicforms %}

{% set_var templatename=DYNAMICFORMS.template|add:'base_includes.html' %}


{% if include_libs != False %}
  {% if DYNAMICFORMS.components %}
    {# if we're using component renderer, then all rendering is handler by the bundles, so let's just import those #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="icon" href="{% static 'df-components/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'df-components/css/df-components.css' %}"/>
    <link rel="stylesheet" href="{% static 'df-components/css/df-components-vendor.css' %}"/>
    <script src="{% static 'df-components/js/df-components-vendors.js' %}" type="application/javascript"></script>
    <script src="{% static 'df-components/js/df-components.js' %}" type="application/javascript"></script>
  {% else %}
    {# "standard" HTML renderer requires libraries depending on template pack, so we load the template pack's libs #}
    <script src="{% static 'jquery_ui/js/jquery-3.3.1.min.js' %}"></script>
    {% extendtemplate template_name_var=templatename block="ui_library_include" %}
    <script src="{% static 'ckeditor-df/ckeditor.js' %}"></script>
  {% endif %}
{% endif %}

<script src="{% static 'dynamicforms/dynamicforms.js' %}"></script>
<script type="application/javascript">
  dynamicforms.DYNAMICFORMS = {{ DYNAMICFORMS|json }};
  dynamicforms.csrf_token = '{{ csrf_token }}';
</script>

{% if DYNAMICFORMS.use_select2 %}
  {% include DYNAMICFORMS.select2_include %}
{% endif %}

<style>
  .dynamicforms-filterrow label, .dynamicforms-filterrow span[id*="help-"] {
    display: none !important;
  }

  input[type=number] {
    max-width: 8em;
  }

  /* ordering indicators in table header */
  th.ordering {
    cursor:      pointer;
    user-select: none;
  }

  @keyframes progress-indeterminate {
    from {
      left:  -25%;
      width: 25%;
    }
    to {
      left:  100%;
      width: 25%;
    }
  }

  /**
  Progress indicator https://loading.io/css/
   */
  .lds-ellipsis {
    display:  inline-block;
    position: relative;
    width:    80px;
    height:   80px;
  }

  .lds-ellipsis div {
    position:                  absolute;
    top:                       33px;
    width:                     13px;
    height:                    13px;
    border-radius:             50%;
    background:                #888;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left:      8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left:      8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left:      32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left:      56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  /* /progress indicator */

  {% extendtemplate template_name_var=templatename block="additional_style" %}

</style>

