button.ck.ck-button.ck-heading_alert-primary {
    font-size: 1.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

button.ck.ck-button.ck-heading_alert-secondary {
    font-size: 1.5em;
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

button.ck.ck-button.ck-heading_alert-success {
    font-size: 1.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

button.ck.ck-button.ck-heading_alert-danger {
    font-size: 1.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

button.ck.ck-button.ck-heading_alert-warning {
    font-size: 1.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

button.ck.ck-button.ck-heading_alert-info {
    font-size: 1.5em;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}