{% extends DYNAMICFORMS.field_base_template %}{% load dynamicforms %}

{% block field_input %}
{% set_var templatename_fld=DYNAMICFORMS.template|add:'field/select.html' %}

  {% extendtemplate template_name_var=templatename_fld block="start_copy_span" enable_copy=field.enable_copy use_select2=DYNAMICFORMS.use_select2 only %}
<select id="{{ field.uuid }}"
        class="{% extendtemplate template_name_var=templatename_fld block="select_class" errors=field.errors only %}
        {{ DYNAMICFORMS.select2_form_field_class }}"
        name="{{ field.name }}"
        {% if field.read_only %}disabled{% endif %}
        style="{% extendtemplate template_name_var=templatename_fld block="select_style" errors=field.errors only %}"
        {% if field.allow_tags %}data-allow-tags="true"{% endif %}>
  {% if field.allow_null or field.allow_blank or field.allow_tags %}
    <option value="" {% if not field.value %}selected{% endif %}>{{ field.null_choice_text }}</option>
  {% endif %}
  {% iter_options_bound field as iter_options %}
  {% for select in iter_options %}
    {% if select.start_option_group %}
      <optgroup label="{{ select.label }}">
    {% elif select.end_option_group %}
      </optgroup>
    {% elif select.value is not None %}
      <option value="{{ select.value }}" {% if select.value|as_string == field.value|as_string %}selected{% endif %}
              {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
    {% endif %}
  {% endfor %}
</select>
  {% extendtemplate template_name_var=templatename_fld block="end_copy_span" %}

<script type="application/javascript">
    {% extendtemplateblock template_name_var=templatename_fld block="script_use_select_2" %}
      {% block script_use_select_2_body %}
        {% load dynamicforms %}
    // Check bootstrap version to set select2 theme
    var sel2Conf = {
      {% if field.url_reverse %}
      ajax: {
        url: '{% url field.url_reverse format='json' %}{{ field.additional_parameters_urlencoded }}',
        dataType: 'json',
        data: function(params) {
          return { '{{ field.query_field }}': params.term };
        },
        processResults: function (data) {
          var results = data.results ? data.results : data;  //data is paginated (or it isn't)
          return {
            results: $.map(results, function (item) {
              return {
                id: item.{{ field.value_field }},
                text: item.{{ field.text_field }},
              }
            })
          };
        }
      },
      // Disables ajax request on dropdown opening
      minimumInputLength: 1,
      {% endif %}
      {% if style.placeholder %}placeholder:"{{ style.placeholder }}",{% endif %}
      // Attaches select2 to its form parent and enables input field (in dialog)
      dropdownParent: $('#{{ style.serializer.uuid }}'),
      tags: {% if field.allow_tags %}true{% else %}false{% endif %}
      {% extendtemplate template_name_var=templatename_fld block="select2_additional_conf" %}

    };

    var $sel2 = $("#{{ field.uuid }}");
    $sel2.data("sel2Conf", sel2Conf);
    $sel2.select2(sel2Conf);

    $sel2.on("change", function (evt) {
      if ($(evt.currentTarget).parents('tr.dynamicforms-filterrow').length) {
        {#  If select2 is for filter#}
        $(evt.currentTarget).parents('table').each(function (key, value) {
          var id = value.getAttribute('id');
          if (id.startsWith('list-'))
            setTimeout(function(){dynamicforms.filterData(id.replace('list-', ''));}, 1);
        });
      }
    });

      {% endblock %}
    {% endextendtemplateblock %}
</script>

{% endblock %}

{% block field_onchange %}
{% set_var templatename_fld=DYNAMICFORMS.template|add:'field/select.html' %}

{% set_var_conditional special_function=1 condition_var=DYNAMICFORMS.template compare='dynamicforms/jquery_ui/' else_value=0 %}
{% if DYNAMICFORMS.use_select2 or special_function == 0%}
  {{ block.super }}
{% else %}
  {% extendtemplate template_name_var=templatename_fld block="field_onchange_special_func" %}
{% endif %}
{% endblock %}
