<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="./css/df-components.css" rel="preload" as="style">
    <link href="./js/df-components-vendors.js" rel="preload" as="script">
    <link href="./js/df-components.js" rel="preload" as="script">
    <link href="./css/df-components.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but dynamicformscomponents doesn't work properly without JavaScript enabled. Please enable
    it to continue.</strong></noscript>
<div id="app"></div>
<div id="modal-app"></div>
<script src="./js/df-components-vendors.js"></script>
<script src="./js/df-components.js"></script>
</body>
<script>
  var initialConfig = {
  uuid: '3db9c626-d99b-11eb-ad15-4c3275926273',
  titles: {
    table: 'Basic fields list',
    new: 'New basic fields object',
    edit: 'Editing basic fields object',
  },
  columns: [{
    name: 'id',
    label: 'ID',
    align: 'right',
    table_classes: '',
    ordering: 'ordering asc seg-1',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'number',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'boolean_field',
    label: 'Boolean field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'checkbox',
      table: 'df-tablecell-bool',
      label_after_element: 'True',
      field_class: 'form-check-input',
      container_class: 'form-check',
      class: 'form-control',
    },
  }, {
    name: 'nullboolean_field',
    label: 'Nullboolean field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'checkbox',
      table: 'df-tablecell-bool',
      label_after_element: 'True',
      field_class: 'form-check-input',
      container_class: 'form-check',
      class: 'form-control',
    },
  }, {
    name: 'char_field',
    label: 'Char field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'text',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'email_field',
    label: 'Email field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'email',
      table: 'df-tablecell-email',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'slug_field',
    label: 'Slug field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'text',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'url_field',
    label: 'Url field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'url',
      table: 'df-tablecell-link',
      pattern: 'https?://.*',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'uuid_field',
    label: 'Uuid field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'text',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'ipaddress_field',
    label: 'Ipaddress field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'text',
      table: 'df-tablecell-ipaddr',
      minlength: '7',
      maxlength: '15',
      size: '15',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'integer_field',
    label: 'Integer field',
    align: 'right',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'number',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'nullint_field',
    label: 'Nullint field',
    align: 'right',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'number',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'float_field',
    label: 'Float field',
    align: 'right',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'number',
      table: '#df-tablecell-float',
      table_show_zeroes: 'True',
      step: '0.1',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'decimal_field',
    label: 'Decimal field',
    align: 'right',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'number',
      table: '#df-tablecell-float',
      table_show_zeroes: 'True',
      step: '0.1',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'datetime_field',
    label: 'Datetime field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'datetime-local',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'date_field',
    label: 'Date field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'date',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'time_field',
    label: 'Time field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'time',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: 'duration_field',
    label: 'Duration field',
    align: 'left',
    table_classes: '',
    ordering: 'ordering unsorted',
    visibility: 'FULL',
    render_params: {
      form: 'df-widget-input',
      input_type: 'text',
      table: 'df-tablecell-plaintext',
      class: 'form-control',
      label_after_element: false,
      container_class: 'form-group',
    },
  }, {
    name: '#actions-row_end',
    label: 'Actions',
    align: 'left',
    table_classes: '',
    ordering: '',
    visibility: 'FULL',
    render_params: {},
  }],
  actions: {
    modal_dialog: {
      position: 'HEADER',
      field_name: null,
      name: 'modal_dialog',
      action_js: 'examples.testModalDialog();',
      label: 'Modal dialog',
      title: 'Dialog test',
      icon: null,
      classes: null,
    },
    add: {
      position: 'HEADER',
      field_name: null,
      name: 'add',
      action_js: "dynamicforms.newRow('{% url url_reverse|add:'-detail' pk='new' format='html' %}', 'record', __TABLEID__);",
      label: '+ Add',
      title: 'Add new record',
      icon: 'add-circle-outline',
      classes: null,
    },
    edit: {
      position: 'ROW_CLICK',
      field_name: null,
      name: 'edit',
      action_js: "dynamicforms.editRow('{% url url_reverse|add:'-detail' pk='__ROWID__' format='html' %}'.replace('__ROWID__', $(event.target.parentElement).closest('tr[class=\"df-table-row\"]').attr('data-id')), 'record', __TABLEID__);",
      label: 'Edit',
      title: 'Edit record',
      icon: 'pencil-outline',
      classes: null,
    },
    delete: {
      position: 'ROW_END',
      field_name: null,
      name: 'delete',
      action_js: "dynamicforms.deleteRow('{% url url_reverse|add:'-detail' pk=row.id %}', {{row.id}}, 'record', __TABLEID__);",
      label: 'Delete',
      title: 'Delete record',
      icon: 'trash-outline',
      classes: null,
    },
  },
  'row-properties': ['df_control_data', 'df_prev_id', 'row_css_style'],
  record: null,
  dialog: {
    rows: [[{
      type: 'column',
      field: {
        field_name: 'id',
        uuid: '3db97d42-d99b-11eb-ad15-4c3275926273',
        display: 5,
        alignment: 'right',
        render_params: {
          form: 'df-widget-input',
          input_type: 'number',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'ID',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'df_control_data',
        uuid: '3db653b0-d99b-11eb-ad15-4c3275926273',
        display: 5,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Df control data',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'df_prev_id',
        uuid: '3db67822-d99b-11eb-ad15-4c3275926273',
        display: 5,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Df prev id',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'row_css_style',
        uuid: '3db69a28-d99b-11eb-ad15-4c3275926273',
        display: 5,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Row css style',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'boolean_field',
        uuid: '3db6b382-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'checkbox',
          table: 'df-tablecell-bool',
          label_after_element: 'True',
          field_class: 'form-check-input',
          container_class: 'form-check',
          class: 'form-control',
        },
        help_text: null,
        label: 'Boolean field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'nullboolean_field',
        uuid: '3db6e14a-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'checkbox',
          table: 'df-tablecell-bool',
          label_after_element: 'True',
          field_class: 'form-check-input',
          container_class: 'form-check',
          class: 'form-control',
        },
        help_text: null,
        label: 'Nullboolean field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'char_field',
        uuid: '3db705a8-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Char field',
      },
    }], [{
      type: 'column',
      field: {
        field_name: 'email_field',
        uuid: '3db7248e-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'email',
          table: 'df-tablecell-email',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Email field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'slug_field',
        uuid: '3db74482-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Slug field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'url_field',
        uuid: '3db7646c-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'url',
          table: 'df-tablecell-link',
          pattern: 'https?://.*',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Url field',
      },
    }], [{
      type: 'column',
      field: {
        field_name: 'uuid_field',
        uuid: '3db77b82-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Uuid field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'ipaddress_field',
        uuid: '3db7968a-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-ipaddr',
          minlength: '7',
          maxlength: '15',
          size: '15',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Ipaddress field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'integer_field',
        uuid: '3db7aef4-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'right',
        render_params: {
          form: 'df-widget-input',
          input_type: 'number',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Integer field',
      },
    }], [{
      type: 'column',
      field: {
        field_name: 'nullint_field',
        uuid: '3db7c5f6-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'right',
        render_params: {
          form: 'df-widget-input',
          input_type: 'number',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Nullint field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'float_field',
        uuid: '3db7e392-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'decimal',
        render_params: {
          form: 'df-widget-input',
          input_type: 'number',
          table: '#df-tablecell-float',
          table_show_zeroes: 'True',
          step: '0.1',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Float field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'decimal_field',
        uuid: '3db80584-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'right',
        render_params: {
          form: 'df-widget-input',
          input_type: 'number',
          table: '#df-tablecell-float',
          table_show_zeroes: 'True',
          step: '0.1',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Decimal field',
      },
    }], [{
      type: 'column',
      field: {
        field_name: 'datetime_field',
        uuid: '3db82e42-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'datetime-local',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Datetime field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'date_field',
        uuid: '3db84dfa-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'date',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Date field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'time_field',
        uuid: '3db86dd0-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'time',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Time field',
      },
    }], [{
      type: 'column',
      field: {
        field_name: 'duration_field',
        uuid: '3db8ca3c-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-input',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Duration field',
      },
    }, {
      type: 'column',
      field: {
        field_name: 'password_field',
        uuid: '3db8ed14-d99b-11eb-ad15-4c3275926273',
        display: 10,
        alignment: 'left',
        render_params: {
          form: 'df-widget-password',
          input_type: 'text',
          table: 'df-tablecell-plaintext',
          class: 'form-control',
          label_after_element: false,
          container_class: 'form-group',
        },
        help_text: null,
        label: 'Password field',
      },
    }]],
    size: 'large',
    actions: {
      cancel: {
        uuid: '3db61c88-d99b-11eb-ad15-4c3275926273',
        type: 'CANCEL',
        positions: ['dialog', 'form'],
        name: 'cancel',
        action_js: false,
        label: 'Cancel',
        title: 'Cancel',
        icon: null,
        classes: 'btn ml-1 btn-secondary ',
      },
      submit: {
        uuid: '3db6273c-d99b-11eb-ad15-4c3275926273',
        type: 'SUBMIT',
        positions: ['dialog', 'form'],
        name: 'submit',
        action_js: false,
        label: 'Save changes',
        title: 'Save changes',
        icon: null,
        classes: 'btn ml-1 btn-primary ',
      },
    },
  },
  detail_url: 'http://localhost:8000/basic-fields/--record_id--.json',
  rows: {
    next: 'http://localhost:8000/basic-fields.json?cursor=bz0xJnA9JTdCJTIyaWQlMjIlM0ErJTIyMSUyMiU3RA%3D%3D',
    previous: 'http://localhost:8000/basic-fields.json?cursor=bz0xJnI9MSZwPSU3QiUyMmlkJTIyJTNBKyUyMjIlMjIlN0Q%3D',
    results: [{
      id: '1',
      df_control_data: {row_css_style: '', actions: {edit: {}, delete: {}}},
      df_prev_id: '',
      row_css_style: '',
      boolean_field: 'True',
      nullboolean_field: 'True',
      char_field: 'afgdf',
      email_field: 'spruk.klemen@gmail.com',
      slug_field: 'afg-dfsg',
      url_field: 'http://rr.si',
      uuid_field: '81634e26-36a8-407e-9cc8-72569a8b2c5e',
      ipaddress_field: '192.168.16.45',
      integer_field: '3',
      nullint_field: 'None',
      float_field: '4.5',
      decimal_field: '2.00',
      datetime_field: 'June 10, 2021, 2:44 p.m.',
      date_field: 'June 10, 2021',
      time_field: '2:46 p.m.',
      duration_field: '00:00:00',
      password_field: 'uktyfgljh',
    }, {
      id: '2',
      df_control_data: {row_css_style: '', actions: {edit: {}, delete: {}}},
      df_prev_id: '',
      row_css_style: '',
      boolean_field: 'True',
      nullboolean_field: 'False',
      char_field: 'fgdhfdgh',
      email_field: 'spruk.klemen@gmail.com',
      slug_field: 'fgh-asf',
      url_field: 'http://iii.si',
      uuid_field: '81634e26-36a8-407e-9cc8-72569a3b2c5e',
      ipaddress_field: '192.168.16.44',
      integer_field: '3',
      nullint_field: 'None',
      float_field: '3.33',
      decimal_field: '3.00',
      datetime_field: 'June 11, 2021, 2:46 p.m.',
      date_field: 'June 18, 2021',
      time_field: '2:48 p.m.',
      duration_field: '00:00:00',
      password_field: 'asfbgadfdag',
    }],
  },
  list_url: 'http://localhost:8000/basic-fields.json',
};
window.dynamicformsUi = 'bootstrap';
// window.dynamicformsUi = 'Jqueryui';
var tbl1 = createApp('app', '<dftable/>', initialConfig, 'modal-app');</script>
</html>