{% verbatim %}
<script type="text/x-template" id="df-actions-template">
  <div class="actions-holder">
    <div v-for="action in actions.list" class="btn btn-sm btn-info text-nowrap"
         @click.stop="actions.exec(action, row)"><IonIcon class="d-inline-block" :key="action.icon" :name="action.icon"/><span class="d-none d-md-inline-block">{{ action.label }}</span></div>
  </div>
</script>
{% endverbatim %}
<script>
  class ActionsHandler {
    constructor(actions, showModal) {
      this.actions = actions;
      this.showModal = showModal; // method to call for showing medal dialog with item editor
      this.filterCache = {};  // contains cached .filter results
    }

    /**
     * returns list of action objects
     * @returns [Action]
     */
    get list() {
      return Object.values(this.actions);
    }

    /**
     * filters actions to include only those rendering at given position
     * @param position
     * @returns {ActionsHandler}
     */
    filter(position) {
      const self = this;
      if (self.filterCache[position] == undefined) {
        self.filterCache[position] = new ActionsHandler(
          Object.values(self.actions)
            .filter(action => action.position == position)
            .reduce((obj, item) => {
              const name = item.name;
              obj[name] = self.actions[name];
              return obj;
            }, {}), self.showModal);
      }
      return self.filterCache[position];
    }

    exec(action, row) {
      console.log(['executing action', JSON.parse(JSON.stringify(action)), JSON.parse(JSON.stringify(row))]);
      this.showModal(action, row);
    }
  }

  Vue.component('df-actions', {
    template: `#df-actions-template`,
    props: {
      actions: {},
      row: {default: null},
    },
    data() { return {}; },
    computed: {},
    mounted() {},
    methods: {},
  });
</script>