{% verbatim %}
<script type="text/x-template" id="df-form-layout-template">
  <form :id="'form-' + uuid">
    <df-form-row v-for="(row, idx) in definition.rows" :key="idx" :columns="row" :data="record_data"/>
  </form>
</script>
{% endverbatim %}

<script>
  //
  Vue.component('df-form-layout', {
    template: `#df-form-layout-template`,
    props: ['data', 'def', 'uuid', 'url'],
    data() {
      const definition = this.data.dialog || this.def;
      return {
        definition: definition,
        record_data: definition.record_data || {},
      }
    },
  });
</script>