{% verbatim %}
<style>
  .flip-enter-active, .flip-leave-active {
    transition: all .25s linear;
  }

  .flip-enter, .flip-leave-to {
    opacity: 0;
  }
</style>
<script type="text/x-template" id="df-modal-handler-template">
  <div :class="'modal-dialog ' + sizeClass" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <transition name="flip" mode="out-in">
        <div class="modal-body" :key="uniqId" v-html="body"/>
      </transition>
      <div class="modal-footer">
        <button type="button" v-for="button in buttons" :class="button.classes" v-bind="button.arias"
                @click.stop="buttonClick(button, callback)">{{ button.text }}
        </button>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}

<script>
  Vue.component('df-modal-handler', {
    template: `#df-modal-handler-template`,
    props: {},
    data() {
      return {
        dialogs: [],
        initialEventAssignDone: false,  // unfortunately, created() is too soon to attach event listener to the dialog
        uniqIdCounter: 0,  // only for giving a truly unique key to dialogs so that we can do proper reactivity
      };
    },
    computed: {
      bootstrapDialog() { return document.querySelector('#df-modal-handler'); },
      currentDialog() {
        let res = this.dialogs.length ? this.dialogs[this.dialogs.length - 1] : null;
        if (res) res.uniqId = res.uniqId || this.uniqIdCounter++;
      },
      sizeClass() {
        let dlg = this.currentDialog;
        if (!dlg) return 'modal-sm';
        if (dlg.large || ['large', 'lg', 'modal-lg'].includes(dlg.size)) return 'modal-lg';
        else if (dlg.small || ['small', 'sm', 'modal-sm'].includes(dlg.size)) return 'modal-sm';
        return '';
      },
      title() { return this.currentDialog ? this.currentDialog.title : 'No dialogs to show!'; },
      body() { return this.currentDialog ? this.currentDialog.body : 'No dialogs have been invoked'; },
      callback() { return this.currentDialog ? this.currentDialog.callback : null; },
      uniqId() { return this.currentDialog ? this.currentDialog.uniqId : null; },
      buttons() {
        const self = this;
        let res = this.currentDialog && this.currentDialog.buttons ? this.currentDialog.buttons : [{close: 'default'}];
        return res.map(value => {
          if (value.close == 'default') value = {
            text: self.gettext('Close'),
            classes: 'btn btn-secondary',
            data_return: 'close'
          };
          else if (value.yes == 'default') value = {
            text: self.gettext('Yes'),
            classes: 'btn btn-primary',
            data_return: 'yes'
          };
          else if (value.no == 'default') value = {
            text: self.gettext('No'),
            classes: 'btn btn-secondary',
            data_return: 'no'
          };
          value.arias = value.arias || {};
          let clss = (value.classes || '').split(' ');
          if (clss.indexOf('btn') == -1) clss.push('btn');
          value.classes = clss.join(' ');
          return value;
        });
      },
    },
    created() {
      // make our API available
      dynamicforms.dialog = this;
    },
    methods: {
      show: function show() {
        const self = this;
        if (!self.initialEventAssignDone) {
          // created is too soon. if we try to do this there, the dialog won't even show.
          self.initialEventAssignDone = true;
          $(self.bootstrapDialog).on('hide.bs.modal', function (event) {
            let callback = null;
            if (self.dialogs.length) callback = self.dialogs.pop().callback;
            if (self.dialogs.length) event.preventDefault();
            if (callback && callback.df_called !== true) callback(null);
          });
        }
        $(self.bootstrapDialog).modal('show');
      },
      hide: function hide() {
        $(this.bootstrapDialog).modal('hide');
      },
      gettext: (str) => { return django.gettext(str); },
      buttonClick(button, callback) {
        if (callback) {
          callback(button.data_return);
          callback.df_called = true;
        } else console.log(button);
        this.hide();
      },
      yesNo(title, question, callback) {
        this.dialogs.push({
          title: title, body: question, buttons: [{yes: 'default'}, {no: 'default'}], callback: callback
        });
        this.show();
      },
    },
  });
</script>