{% verbatim %}
<script type="text/x-template" id="df-modal">
  <div>
    <transition @enter="startTransitionModal" @after-enter="endTransitionModal" @before-leave="endTransitionModal"
                @after-leave="startTransitionModal">
      <div class="modal fade" tabindex="-1" role="dialog" v-if="visible" id="modal" @click.self="hide()">
        <div :class="'modal-dialog ' + sizeClass" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <slot name="title">{{ title }}</slot>
              </h5>
              <button type="button" class="close" @click="hide()" tabindex="-1">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <slot name="body">
                <div class="container-fluid">&hellip;</div>
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button type="button" class="btn btn-secondary" @click="hide()">{{ gettext('Close') }}</button>
                <button type="button" class="btn btn-primary">{{ gettext('Save changes') }}</button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <div class="modal-backdrop fade d-none" id="backdrop"></div>
  </div>
</script>
{% endverbatim %}

<script>
  Vue.component('df-modal', {
    template: `#df-modal`,
    props: {
      // aside from props, dialog also has three slots: title, body and footer
      'setDialog': null,  // method to be called which will receive this component instance so that .show can be called
      'title': null,      // dialog title
      'large': Boolean,   // if specified (valueless prop), modal will be large - small or size ignored when specified
      'small': Boolean,   // if specified (valueless prop), modal will be small - size ignored when specified
      'size': {default: ''},  // one of 'large', 'lg', 'modal-lg', 'small', 'sm', 'modal-sm'
    },
    data() {
      return {
        visible: false,
      };
    },
    computed: {
      sizeClass() {
        if (this.large || ['large', 'lg', 'modal-lg'].includes(this.size)) return 'modal-lg';
        else if (this.small || ['small', 'sm', 'modal-sm'].includes(this.size)) return 'modal-sm';
        return '';
      }
    },
    mounted() {
      // notify parent component of who we are so that it can call .show, .hide, etc.
      this.setDialog(this);
    },
    methods: {
      show: function show() { this.visible = true; },
      hide: function hide() { this.visible = false; },
      gettext: (str) => { return django.gettext(str); },
      startTransitionModal() {
        this.$el.querySelector('#backdrop').classList.toggle('d-block');
        if (this.visible) { this.$el.querySelector('#modal').classList.toggle("d-block"); }
      },
      endTransitionModal() {
        this.$el.querySelector('#backdrop').classList.toggle("show");
        this.$el.querySelector('#modal').classList.toggle("show");
      }
    },
  });
</script>