{% verbatim %}
<script type="text/x-template" id="df-tablecell-float-template">
  <div v-html="displayValue"/>
</script>
{% endverbatim %}

<script>
  Vue.component('df-tablecell-float', {
    template: `#df-tablecell-float-template`,
    props: ['row', 'column', 'value', 'bodyId'],
    computed: {
      displayValue() {
        // First, ensure we have the namespace ready
        ['dynamicforms', 'df-tablecell-float-configs'].reduce((res, val) => (res[val] || (res[val] = {})), window);
        //  read any existing config and create it if it's not there already
        let config = window.dynamicforms['df-tablecell-float-configs'][this.bodyId];
        if (!config) {
          config = Vue.observable({ max_decimals: 0, decimal_char: 1.1.toLocaleString().substr(1, 1) });
          window.dynamicforms['df-tablecell-float-configs'][this.bodyId] = config;
        }
        // Make a presentable value
        let res = this.value.toLocaleString();
        // fill the value with invisible decimals
        let dpPos = res.indexOf(config.decimal_char);
        let numDecimals = dpPos == -1 ? 0 : res.substr(dpPos + 1).length;
        if (numDecimals > config.max_decimals) config.max_decimals = numDecimals;
        if (dpPos == -1) res += config.decimal_char;
        let filler = Array(config.max_decimals + 1 - numDecimals).join('0');

        if (this.column.render_params.table_show_zeroes)
          res += filler;
        else
          res += filler ? `<span style="visibility: hidden">${filler}</span>` : '';
        return res;
      }
    }
  });
</script>