{% verbatim %}
<script type="text/x-template" id="df-table-header-template">
  <thead>
  <tr>
    <th is="df-table-header-col" v-for="(col, idx) in columns" :key="col.name"
        :column="col" :col-idx="idx" :num-sorted-cols="numSortedCols"></th>
  </tr>
  </thead>
</script>

<script type="text/x-template" id="df-table-header-col-template">
  <th :style="`text-align: ${column.align}`" :class="column.th_classes" @click="colClicked($event)"
  >{{ column.label }}
    <span v-if="column.isOrdered" class="ordering"
    ><div class="ordering-arrow">{{ column.ascDescChar }}</div>{{ column.orderIndexChar }}</span>
  </th>
</script>
{% endverbatim %}

<script>
  Vue.component('df-table-header', {
    template: `#df-table-header-template`,
    props: ['columns'],
    data() { return {}; },
    computed: {
      numSortedCols() { return this.columns.filter(col => col.ordering.includes('seg-')).length; },
    },
    mounted() {},
    methods: {},
  });
  Vue.component('df-table-header-col', {
    template: `#df-table-header-col-template`,
    props: ['column', 'colIdx', 'numSortedCols'],
    data() {
      return {};
    },
    computed: {},
    mounted() {},
    methods: {
      colClicked(event) {
        const self = this;

        if (!self.column.isOrdered)
          // don't do anything if this column is not sortable
          return;

        if (event.altKey) {
          // Show dialog with sort order options
        } else if (event.ctrlKey && event.shiftKey) {
          // remove column from ordering
          self.column.setSorted('unsorted');
        } else if (event.ctrlKey) {
          // set column as first sorted column
          self.$parent.$emit('change-order', self.colIdx, self.column.isDescending ? 'desc' : 'asc', 1);
        } else {
          // Change segment sort direction (and add it to sort segments list if not already there)
          // if shift is pressed add segment to existing ones. if not, set this column as the only segment of sort
          let ordrIdx = self.column.orderIndex,
            oSeq = event.shiftKey ? (ordrIdx == 0 ? self.numSortedCols + 1 : ordrIdx) : 1,
            oDir = event.shiftKey ? (self.column.isAscending ? 'desc' : 'asc') : self.column.cycleOrdering;
          self.$parent.$emit('change-order', self.colIdx, oDir, oSeq, !event.shiftKey);
        }
      },
    }
  });
</script>