{% verbatim %}
<script type="text/x-template" id="df-widget-input-template">
  <df-widget-base :def="def" :data="data">
    <input slot="input" :id="def.uuid" :type="def.render_params.input_type" :class="def.render_params.class"
           :name="def.field_name" :aria-describedby="def.help_text ? def.field_name + '-help' : null"
           :placeholder="def.placeholder" :value="data[def.field_name]" :pattern="def.render_params.pattern"
           :min="def.render_params.min" :max="def.render_params.max" :step="def.render_params.step">
  </df-widget-base>
</script>{% endverbatim %}

<script>
  Vue.component('df-widget-input', {
    template: `#df-widget-input-template`,
    props:    ['def', 'data'],
  });
</script>