{% verbatim %}
<script type="text/x-template" id="df-widget-password-template">
  <df-widget-base :def="def" :data="data">
    <div slot="input" class="input-group">
      <input :id="def.uuid" :type="passwordFieldType" v-model='password' :class="def.render_params.class"
             :name="def.field_name" :aria-describedby="def.help_text ? def.field_name + '-help' : null"
             :placeholder="def.placeholder" :value="data[def.field_name]" :pattern="def.render_params.pattern">
      <span @click="toggle_password" :class="isPassword ? 'password-field' : 'password-field-slash'"
            class="input-group-text"></span>
    </div>
  </df-widget-base>
</script>{% endverbatim %}

<script>
  Vue.component('df-widget-password', {
    template: `#df-widget-password-template`,
    props:    ['def', 'data'],
    data() {
      return {
        password:          "",
        passwordFieldType: 'password',
        isPassword:        true,
      };
    },
    methods: {
      toggle_password: function () {
        this.isPassword        = !this.isPassword;
        this.passwordFieldType = this.passwordFieldType === "password" ? "text" : "password";
      },
    },
  });
</script>