{% load dynamicforms %}

{% if form.has_non_field_errors %}
  {% for error in form.errors.non_field_errors %}
    <div class="text-danger">{{ error }}</div>
  {% endfor %}
{% endif %}

{% block form_inner %}
  {% for field in form %}
    {% if forloop.counter|add:1|divisibleby:2 or forloop.first %}
    <div class="row dynamicforms-table-row">
    {% endif %}
      <div class="col-6 col-xs-6 dynamicforms-table-col">
        {% render_field field style=style %}
      </div>
    {% if forloop.counter|divisibleby:2 or forloop.last %}
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}
