{% extends 'examples/base.html' %}
{% load dynamicforms %}
{% block title %}
  {% if data.id %}
    {% set_var title=serializer.form_titles.edit %}
  {% else %}
    {% set_var title=serializer.form_titles.new %}
  {% endif %}
{% endblock %}
{% block body %}
  {% if DF.TEMPLATE_VARIANT.BOOTSTRAP_VERSION == 'v3' %}
    {% set_var card_class='panel panel-default' card_header='panel-heading' card_body='panel_body' %}
  {% else %}
    {% set_var card_class='card' card_header='card-header' card_body='card-body' %}
  {% endif %}
  {% set_var template_form=DF.TEMPLATE|add:'base_form.html' %}

  {% if data.id %}
    {% set_var title=serializer.form_titles.edit %}
  {% else %}
    {% set_var title=serializer.form_titles.new %}
  {% endif %}

<div class="{{ card_class }}" style="display: inline-block; margin: 1em">
  <div class="{{ card_header }}">{{ title }}</div>
  <div class="{{ card_body }}">
    {% include template_form with serializer=serializer data=data %}
  </div>
</div>
{% endblock %}