{% extends 'dynamicforms/bootstrap/base.html' %}{% load dynamicforms %}
{% block title %}
  {{ serializer.form_titles.table }}
{% endblock %}
{% block body %}
  {% if DF.TEMPLATE_VARIANT.BOOTSTRAP_VERSION == 'v3' %}
    {% set_var card_class='panel panel-default' card_header='panel-heading' card_body='panel_body' %}
  {% else %}
    {% set_var card_class='card' card_header='card-header' card_body='card-body' %}
  {% endif %}
  {% set_var template_list=DF.TEMPLATE|add:'base_list.html' %}

  <div class="{{ card_class }}" style="display: inline-block; margin: 1em">
    <div class="{{ card_header }}">
      {{ serializer.form_titles.table }}
      {% if crud_form %}
        <button class="btn btn-info btn-sm float-right pull-right"
                onclick="dynamicforms.newRow('{% url 'validated-detail' pk='new' format='html' %}')">
          + Add
        </button>
      {% endif %}
    </div>
    <div class="{{ card_body }}">
      {% include template_list with serializer=serializer data=data %}
    </div>
  </div>
{% endblock %}