{% extends 'examples/base.html' %}
{% load rest_framework %}
{% block title %}
Validated
{% endblock %}
{% block body %}
<div class="card" style="display: inline-block; margin: 1em">
  <div class="card-header">
    <form action="{% url 'validated-detail' pk='new' format='html' %}" method="GET">
      Validated
      {% if crud_form %}
      <button type="submit" class="btn btn-info btn-sm float-right">+ Add</button>
      {% endif %}
    </form>
  </div>
  <div class="card-body">
    {% include 'examples/base_list.html' with serializer=serializer data=data %}
  </div>
</div>
{% endblock %}