{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
  <title>Title</title>
</head>
<body>
<p>{{ test }}</p>
<div class="card" style="display: inline-block; margin-left: 1em">
  <div class="card-header">Validated</div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>{% for column in serializer.fields %}<th>{{ column|capfirst }}</th>{% endfor %}<th></th></tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            {% for key, value in row|items %}
              {% if key in columns %}
                <td {{ value|add_nested_class }} >
                  {{ value|format_value }}
                </td>
              {% endif %}
            {% endfor %}
            <td>
              <a href="{{ row.url }}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</body>
</html>