
.password-field {
  display:             inline-block;
  content:             "";
  background-image:    url("icons/eye-outline.svg");
  background-repeat:   no-repeat;
  background-size:     1rem 1rem;
  background-color:    transparent;
  background-position: center;
}

.password-field-slash {
  display:             inline-block;
  content:             "";
  background-image:    url("icons/eye-off-outline.svg");
  background-repeat:   no-repeat;
  background-size:     1rem 1rem;
  background-color:    transparent;
  background-position: center;
}